.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.section-item {
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffd4d4;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease; 
}

.section-item:hover {
    transform: scale(1.05); /* 鼠標停留 */
}

.section-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.section-text {
    font-family: "標楷體";
    font-size: 14px;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .section-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .section-item {
        width: 100%;
    }
}
